In [1]:
import os
import pandas as pd

In [2]:
label_df = pd.DataFrame([], columns = ['fault_' + str(x) for x in range(1,7)])
label_df['file_name'] = ' '

In [3]:
os.getcwd()

'/home/ys/repo/dacon_cv2-master'

In [4]:
dir_list = []
subdir_list = []

for dir in os.listdir('dataset'):
    path = os.path.join('dataset', dir)
    dir_list.append(path)

In [5]:
dir_list

['dataset/group00041',
 'dataset/group12300',
 'dataset/group20085',
 'dataset/group12100',
 'dataset/group92000',
 'dataset/group90100',
 'dataset/group50600',
 'dataset/group77000',
 'dataset/group44000',
 'dataset/group13000',
 'dataset/group12000']

In [ ]:
dir_list = []

for dir in os.listdir('dataset'):
    path = os.path.join('dataset', dir)
    dir_list.append(path)

for i, dir in enumerate(dir_list):
    for labeldir in os.listdir(os.path.join(dir, dir[-5:] + '_not')):
        label_path = os.path.join(dir, dir[-5:] + '_not',labeldir)
       
        with open(label_path, 'r') as f:
            data = f.read().splitlines()

        label_onehot = [0] * 6
        for i in range(len(data)): # 하나의 데이터 파일
            label = int(data[i][-1])
            label_onehot[label-1] = 1


        # fault exist
        # print(os.path.join(dir, dir[-5:], labeldir[:-4]+'_test.jpg'))
        label_onehot.append(os.path.join(dir, dir[-5:], labeldir[:-4]+'_test.jpg'))
    
        label_df.loc[(len(label_df))] = label_onehot

        # no fault
        # print(os.path.join(dir, dir[-5:], labeldir[:-4]+'_temp.jpg'))
        label_df.loc[len(label_df)] = [0,0,0,0,0,0, os.path.join(dir, dir[-5:], labeldir[:-4]+'_temp.jpg')]

        print('saved!')

In [4]:
label_df

,fault_1,fault_2,fault_3,fault_4,fault_5,fault_6,file_name
0,1,1,1,1,0,1,dataset/group00041/00041/00041101_test.jpg
1,0,0,0,0,0,0,dataset/group00041/00041/00041101_temp.jpg
2,1,0,1,1,1,1,dataset/group00041/00041/00041178_test.jpg
3,0,0,0,0,0,0,dataset/group00041/00041/00041178_temp.jpg
4,1,1,0,1,0,1,dataset/group00041/00041/00041122_test.jpg
...,...,...,...,...,...,...,...
2995,0,0,0,0,0,0,dataset/group12000/12000/12000017_temp.jpg
2996,1,1,0,1,1,1,dataset/group12000/12000/12000068_test.jpg
2997,0,0,0,0,0,0,dataset/group12000/12000/12000068_temp.jpg
2998,1,1,1,1,1,1,dataset/group12000/12000/12000119_test.jpg
2999,0,0,0,0,0,0,dataset/group12000/12000/12000119_temp.jpg

In [5]:
label_df.to_csv('label.csv', header=True)

In [2]:
label_df = pd.read_csv('label.csv')

In [52]:
import numpy as np
label_type = np.unique(label_df.iloc[:,1:-1], axis=0)