In [83]:
import os
import pandas as pd
import numpy as np

In [84]:
path = os.getcwd()

In [85]:
file_path = os.path.join(path, 'submission_model_7_prob.csv')
#file_path = '/home/sks/COMPETITION/DACON/computer_vision2/dataset/dirty_mnist_2nd_answer.csv'

In [86]:
probs = pd.read_csv(file_path)
probs.head(3)

,index,a,b,c,d,e,f,g,h,i,...,q,r,s,t,u,v,w,x,y,z
0,50000,7.513187,-1.788036,10.718184,-3.165083,2.329416,9.614844,-3.347218,6.069839,4.495613,...,-3.038037,-2.583431,-2.480417,1.287385,6.700987,-2.841289,-1.900590,2.617925,-2.334415,6.835643
1,50001,-2.458637,-0.339437,-3.185241,-2.538721,6.765219,-2.614237,5.619425,-3.348671,3.388415,...,-2.900010,2.533555,-0.336347,-2.547271,2.063925,4.532933,1.380898,-3.985912,-2.276393,-3.579523
2,50002,-2.712237,-2.589247,5.301890,2.904889,7.677043,-3.086246,6.713226,-0.982330,11.885826,...,-2.750588,4.132359,3.341463,-2.512657,5.020511,-1.107558,4.775243,-3.454561,-1.477709,4.060407

In [87]:
counts = []
for i in range(len(probs)):
    labels = probs.iloc[i, 1:].values
    label_sum = sum(labels)
    counts.append(label_sum)

In [88]:
fin_labels = []

for i in range(len(probs)):
    
    A = probs.iloc[i, 1:].values
    
    sum_labels = sum(A >= 0.5)
    if sum_labels >= 10 and sum_labels <= 14:
        A = np.where(A >= 0.5, 1, 0)
        fin_labels.append(A)
    elif sum_labels < 10:
        one_index = np.argsort(-A)[:10]
        zero_index = np.argsort(-A)[10:]
        A[one_index] = 1
        A[zero_index] = 0
        fin_labels.append(A)
    else:
        one_index = np.argsort(-A)[:14]
        zero_index = np.argsort(-A)[14:]
        A[one_index] = 1
        A[zero_index] = 0
        fin_labels.append(A)

In [89]:
fin_probs = np.array(fin_labels)

In [90]:
probs.iloc[:, 1:] = fin_probs

In [91]:
probs.iloc[:, 1:] = probs.iloc[:, 1:].astype(int)

In [92]:
probs.iloc[:5, :]

   index  a  b  c  d  e  f  g  h  i  ...  q  r  s  t  u  v  w  x  y  z
0  50000  1  0  1  0  1  1  0  1  1  ...  0  0  0  1  1  0  0  1  0  1
1  50001  0  0  0  0  1  0  1  0  1  ...  0  1  0  0  1  1  1  0  0  0
2  50002  0  0  1  1  1  0  1  0  1  ...  0  1  1  0  1  0  1  0  0  1
3  50003  1  1  0  0  0  1  1  1  0  ...  0  0  0  1  0  0  0  1  1  1
4  50004  0  0  1  0  1  1  0  0  0  ...  1  0  1  1  1  0  1  0  0  0

[5 rows x 27 columns]

In [93]:
# save
probs.to_csv(os.path.join(path, 'submission_model_7_kkom.csv'), index=False)

In [67]:
counts = []
for i in range(len(probs)):
    labels = probs.iloc[i, 1:].values
    label_sum = sum(labels)
    counts.append(label_sum)